/* main.css */
@import url(reset.css);
@import url(font.css);

/* common */
a {
  color: black;
  text-decoration: none;
}

/* Mobile 크기 0~768 */
@media screen and (max-width: 768px) {
  /* layout */
  #wrap {
    width: 100%;
  }
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
  }
  .header_inner {
    height: 100%;
    margin: 0 auto;
  }
  #container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
  }
  .content1 {
    position: relative;
    width: 100%;
  }
  .content1_inner {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .content2 {
    position: relative;
    width: 100%;
  }
  .content2_inner {
    width: 90%;
    max-width: 1288px;
    margin: 0 auto;
  }
  .content3 {
    position: relative;
    width: 100%;
  }
  .content3_inner {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .content4 {
    position: relative;
    width: 100%;
    height: 1294px;
  }
  .content4_inner {
    width: 95%;
    height: 974px;
    max-width: 1440px;
    margin: 0 auto;
  }
  #footer {
    width: 100%;
  }
  .footer_inner {
    width: 85%;
    margin: 0 auto;
  }

  /* header */
  #header {
    z-index: 100;
    background-color: transparent;
    transition: all 0.3s linear 0s;
  }
  .header_inner {
    position: relative;
  }
  .header_inner > h1 {
    margin-left: 20px;
    line-height: 56px;
  }
  div.mo > i.open {
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 5;
    opacity: 1;
    font-size: 20px;
    cursor: pointer;
  }
  div.mo > i.close {
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 0;
    opacity: 0;
    font-size: 20px;
    cursor: pointer;
  }
  div.mo > ul.gnb_menu_mo {
    position: fixed;
    top: 56px;
    left: 100%;
    width: 100%;
    height: 100vh;
    padding: 50px 0 0 20px;
    background-color: #fff;
    transition: left 0.2s linear 0s;
  }
  div.mo.on > ul.gnb_menu_mo {
    left: 0;
  }
  div.mo.on > i.open {
    z-index: 0;
    opacity: 0;
    transition: left 0.2s linear 0s;
  }
  div.mo.on > i.close {
    z-index: 5;
    opacity: 1;
    transition: left 0.2s linear 0s;
  }
  div.mo > ul.gnb_menu_mo > li {
    position: relative;
    height: 65px;
  }
  div.mo > ul.gnb_menu_mo > li:last-of-type:after {
    display: none;
  }
  div.mo > ul.gnb_menu_mo > li::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 40px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(../assets/images/ic_arrow_down.svg) no-repeat 0 0;
  }
  div.mo > ul.gnb_menu_mo > li:last-of-type > a:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 88px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ff592f;
  }
  div.mo > ul.gnb_menu_mo > li:nth-last-of-type(2) > a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 146px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ff592f;
  }
  div.mo > ul.gnb_menu_mo > li > a {
    font-size: 30px;
    font-weight: bold;
  }
  div.mo > ul.gnb_menu_mo > li > ul > li > a:hover,
  div.mo > ul.gnb_menu_mo > li:hover > a {
    color: #f43b01;
  }
  div.mo > ul.gnb_menu_mo > li > ul {
    display: none;
    padding: 20px 15px;
  }
  div.mo > ul.gnb_menu_mo > li > ul > li > a {
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
  }
  div.mo > ul.gnb_menu_mo > li.on {
    height: auto;
  }
  div.mo > ul.gnb_menu_mo > li.on::after {
    background-origin: 50% 50%;
    transform: rotate(180deg);
  }
  div.mo > ul.gnb_menu_mo > li.on > ul {
    display: block;
  }

  .header_inner > ul.gnb_menu {
    display: none;
  }

  /* container */
  /* contetn1 */
  .content1 {
    overflow: hidden;
  }
  .content1_inner {
    padding: 220px 0 100px;
  }
  .content1 > .content1_inner > p.path {
    float: right;
    font-size: 18px;
    font-weight: 500;
  }
  .content1 > .content1_inner > p.path > span {
    margin: 0 15px;
  }
  .content1 > .content1_inner > p.path > span.curr {
    color: #ff6e49;
  }
  .content1 > .content1_inner > ul {
    display: flex;
    justify-content: center;
    margin-top: 120px;
  }
  .content1 > .content1_inner > ul > li > h2 > a {
    display: inline-block;
    margin-right: 50px;
    padding-bottom: 12px;
    color: #222;
    font-size: 30px;
    font-weight: bold;
    line-height: 73px;
  }
  .content1 > .content1_inner > ul > li.on > h2 > a {
    color: #ff592f;
  }
  .content1 > .content1_inner > ul > li.on > h2 > a::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff592f;
  }
  .content1 > .content1_inner > div.left {
    margin-top: 50px;
    text-align: center;
  }
  .content1 > .content1_inner > div.left > p.title {
    display: inline-block;
    width: 389px;
    height: 216px;
    color: #222;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.4;
    text-align: center;
  }
  .content1 > .content1_inner > div.left > p.info {
    margin-top: 25px;
    color: #222;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
  .content1 > .content1_inner > div.right {
    display: inline-block;
    max-width: 742px;
    margin-top: 100px;
    text-align: center;
  }
  .content1 > .content1_inner > div.right > ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .content1 > .content1_inner > div.right > ul > li {
    flex: 1;
    margin-bottom: 100px;
    min-width: 350px;
  }
  .content1 > .content1_inner > div.right > ul > li > img {
    width: 110px;
    height: 110px;
  }
  .content1 > .content1_inner > div.right > ul > li > p.title {
    margin: 50px 0 25px;
    font-size: 18px;
  }
  .content1 > .content1_inner > div.right > ul > li > p.info {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
  }
  /* content2 */
  .content2 {
    background: url(../assets/images/bg_foodsystem.jpg) no-repeat 0 center;
    background-size: cover;
  }
  .content2_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
  }
  .content2 > .content2_inner > h2 {
    display: inline-block;
    margin: 50px 0 100px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
  }
  .content2 > .content2_inner > div {
    width: 330px;
    height: 330px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
  }
  .content2 > .content2_inner > div > p.title {
    margin-top: 110px;
    color: #fff;
    font-size: 24px;
  }
  .content2 > .content2_inner > div > p.info {
    margin-top: 12px;
    color: #fff;
    line-height: 1.5;
  }
  .content2 > .content2_inner > div:nth-of-type(2) {
    position: relative;
    top: -40px;
  }
  .content2 > .content2_inner > div:nth-of-type(3) {
    position: relative;
    top: -80px;
  }
  .content2 > .content2_inner > div:nth-of-type(4) {
    position: relative;
    border-color: #222;
    background-color: #222;
  }
  .content2 > .content2_inner > div:nth-of-type(4) > img {
    position: relative;
    top: 50%;
    width: 235px;
    height: 131px;
    transform: translateY(-50%);
  }
  .content2 > .content2_inner > div:nth-of-type(4)::before,
  .content2 > .content2_inner > div:nth-of-type(4)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    transform: translateX(-50%);
  }
  .content2 > .content2_inner > div:nth-of-type(4)::before {
    top: -50px;
  }
  .content2 > .content2_inner > div:nth-of-type(4)::after {
    top: -30px;
  }
  /* content3 */
  .content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 160px 0;
  }
  .content3 > .content3_inner > h2 {
    margin-left: 45px;
    font-size: 48px;
    font-weight: 900;
    line-height: 72px;
  }
  .content3 > .content3_inner > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
  }

  .content3 > .content3_inner > ul > li {
    width: 320px;
    margin-bottom: 50px;
    border-top: 2px solid #222;
  }
  .content3 > .content3_inner > ul > li > p.title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
  }
  .content3 > .content3_inner > ul > li > p.title > span {
    margin-right: 25px;
  }
  .content3 > .content3_inner > ul > li > p.info {
    line-height: 1.5;
  }
  /* content4 */
  .content4 {
    background-color: #faf8f6;
  }

  .content4 > .content4_inner {
    margin: 0 auto;
    padding: 160px 0;
  }
  .content4 > .content4_inner > h2 {
    display: inline-block;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 900;
    line-height: 72px;
  }
  .content4 > .content4_inner > table {
    width: 100%;
  }
  .content4 > .content4_inner > table > caption {
    display: none;
  }
  .content4 > .content4_inner > table > thead th {
    height: 59px;
    padding-left: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font-weight: bold;
  }
  .content4 > .content4_inner > table > tbody td {
    padding: 16px 0px 16px 20px;
    border-bottom: 2px solid #cfcdcc;
    color: #626261;
    font-weight: bold;
    line-height: 1.5;
  }
  .content4 > .content4_inner > table > tfoot td {
    height: 120px;
    padding-left: 20px;
    border-bottom: 2px solid #cfcdcc;
    background-color: #f1efed;
    font-weight: bold;
    line-height: 1.5;
  }
  .content4 > .content4_inner > p {
    position: relative;
    margin-top: 20px;
    color: #a4a3a2;
    text-indent: 10px;
  }
  .content4 > .content4_inner > p:after {
    content: '*';
    position: absolute;
    top: 50%;
    display: block;
    transform: translate3d(-10px, -30%, 0);
  }
  .content4 > .content4_inner > p > span {
    color: #ff592f;
    font-weight: bold;
  }
  .content4 > .content4_inner > div {
    position: absolute;
    left: 50%;
    width: 380px;
    height: 80px;
    margin-top: 80px;
    border: 1px solid #222;
    font-size: 18px;
    font-weight: 700;
    line-height: 78px;
    text-align: center;
    cursor: pointer;
    transform: translateX(-50%);
    transition: all 0.2s linear 0s;
  }
  .content4 > .content4_inner > div:hover {
    border-color: #ff592f;
    background-color: #ff592f;
    color: #fff;
  }
  /* footer */
  #footer {
    padding: 120px 0 120px;
  }
  .footer_inner > .top {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  .footer_inner > .top > div > img {
    display: none;
  }
  .footer_inner > .top > ul {
    display: flex;
    flex-direction: column;
  }
  .footer_inner > .top > ul > li {
    position: relative;
    height: 41px;
    cursor: pointer;
  }
  .footer_inner > .top > ul > li.on {
    height: auto;
  }
  .footer_inner > .top > ul > li.on > ul {
    display: block;
  }
  .footer_inner > .top > ul > li.on::after {
    background-origin: 50% 50%;
    transform: rotate(180deg);
  }
  .footer_inner > .top > ul > li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
    width: 15px;
    height: 15px;
    background: url(../assets/images/ic_arrow_down.svg) no-repeat center center;
  }
  .footer_inner > .top > ul > li > strong {
    font-size: 16px;
    font-weight: bold;
  }
  .footer_inner > .top > ul > li > ul {
    display: none;
    padding: 15px 10px 15px;
  }
  .footer_inner > .top > ul > li > ul > li > a {
    position: relative;
    color: rgba(34, 34, 34, 0.7);
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.5px;
  }
  .footer_inner > .top > ul > li > ul > li > a:hover {
    color: #222;
  }
  .footer_inner > .top > ul > li > ul > li > a.contact:hover,
  .footer_inner > .top > ul > li > ul > li > a.contact {
    color: #ff592f;
  }
  .footer_inner > .bottom > div.copyright_wrap {
    margin-top: 50px;
  }
  .footer_inner > .bottom > div.select_wrap > select {
    position: relative;
    display: block;
    width: 100%;
    height: 87px;
    border: none;
    border-bottom: 2px solid #000;
    background: url('../assets/images/select-plus.svg') no-repeat right 9px center;
    font-size: 14px;
    font-weight: bold;
    appearance: none;
  }
  .footer_inner > .bottom > div.copyright_wrap > p.copyright,
  .footer_inner > .bottom > div.copyright_wrap > address {
    color: rgba(34, 34, 34, 0.4);
    font-size: 12px;
    line-height: 1.5;
  }
  .footer_inner > .bottom > div.copyright_wrap > .playstore {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }
  .footer_inner > .bottom > div.copyright_wrap > .playstore > a > i {
    margin-right: 15px;
    font-size: 20px;
    vertical-align: middle;
  }
  .footer_inner > .bottom > div.copyright_wrap > .playstore > a:nth-of-type(1),
  .footer_inner > .bottom > div.copyright_wrap > .playstore > a:nth-of-type(2) {
    display: block;
    width: 43vw;
    height: 50px;
    margin-right: 15px;
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
  }
  .footer_inner > .bottom > div.copyright_wrap > .playstore > a > img {
    display: none;
  }
}

/* Tablet 크기 769~1024 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* layout */
  #wrap {
    width: 100%;
  }
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
  }
  .header_inner {
    height: 100%;
    margin: 0 auto;
  }
  #container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
  }
  .content1 {
    position: relative;
    width: 100%;
  }
  .content1_inner {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .content2 {
    position: relative;
    width: 100%;
  }
  .content2_inner {
    width: 90%;
    max-width: 1288px;
    margin: 0 auto;
  }
  .content3 {
    position: relative;
    width: 100%;
  }
  .content3_inner {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .content4 {
    position: relative;
    width: 100%;
    height: 1294px;
  }
  .content4_inner {
    width: 95%;
    height: 974px;
    max-width: 1440px;
    margin: 0 auto;
  }
  #footer {
    width: 100%;
  }
  .footer_inner {
    width: 85%;
    margin: 0 auto;
  }

  /* header */
  #header {
    z-index: 100;
    background-color: transparent;
    transition: all 0.3s linear 0s;
  }
  .header_inner {
    position: relative;
  }
  .header_inner > h1 {
    margin-left: 20px;
    line-height: 56px;
  }

  div.mo > i.open {
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 5;
    opacity: 1;
    font-size: 20px;
    cursor: pointer;
  }
  div.mo > i.close {
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 0;
    opacity: 0;
    font-size: 20px;
    cursor: pointer;
  }
  div.mo > ul.gnb_menu_mo {
    position: fixed;
    top: 56px;
    left: 100%;
    width: 100%;
    height: 100vh;
    padding: 50px 0 0 20px;
    background-color: #fff;
    transition: left 0.2s linear 0s;
  }
  div.mo.on > ul.gnb_menu_mo {
    left: 0;
  }
  div.mo.on > i.open {
    z-index: 0;
    opacity: 0;
    transition: left 0.2s linear 0s;
  }
  div.mo.on > i.close {
    z-index: 5;
    opacity: 1;
    transition: left 0.2s linear 0s;
  }
  div.mo > ul.gnb_menu_mo > li {
    position: relative;
    height: 65px;
  }
  div.mo > ul.gnb_menu_mo > li::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 40px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(../assets/images/ic_arrow_down.svg) no-repeat 0 0;
  }
  div.mo > ul.gnb_menu_mo > li:last-of-type:after {
    display: none;
  }
  div.mo > ul.gnb_menu_mo > li:last-of-type > a:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 88px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ff592f;
  }
  div.mo > ul.gnb_menu_mo > li:nth-last-of-type(2) > a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 146px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ff592f;
  }
  div.mo > ul.gnb_menu_mo > li > a {
    font-size: 30px;
    font-weight: bold;
  }
  div.mo > ul.gnb_menu_mo > li > ul > li > a:hover,
  div.mo > ul.gnb_menu_mo > li:hover > a {
    color: #f43b01;
  }
  div.mo > ul.gnb_menu_mo > li > ul {
    display: none;
    padding: 20px 15px;
  }
  div.mo > ul.gnb_menu_mo > li > ul > li > a {
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
  }
  div.mo > ul.gnb_menu_mo > li.on {
    height: auto;
  }
  div.mo > ul.gnb_menu_mo > li.on::after {
    background-origin: 50% 50%;
    transform: rotate(180deg);
  }
  div.mo > ul.gnb_menu_mo > li.on > ul {
    display: block;
  }

  .header_inner > ul.gnb_menu {
    display: none;
  }

  /* container */
  /* contetn1 */
  .content1 {
    overflow: hidden;
  }
  .content1_inner {
    padding: 220px 0 100px;
  }
  .content1 > .content1_inner > p.path {
    float: right;
    font-size: 18px;
    font-weight: 500;
  }
  .content1 > .content1_inner > p.path > span {
    margin: 0 15px;
  }
  .content1 > .content1_inner > p.path > span.curr {
    color: #ff6e49;
  }
  .content1 > .content1_inner > ul {
    position: absolute;
    display: flex;
    margin-top: 120px;
  }
  .content1 > .content1_inner > ul > li > h2 > a {
    display: inline-block;
    margin-right: 50px;
    padding-bottom: 12px;
    color: #222;
    font-size: 30px;
    font-weight: bold;
    line-height: 73px;
  }
  .content1 > .content1_inner > ul > li.on > h2 > a {
    color: #ff592f;
  }
  .content1 > .content1_inner > ul > li.on > h2 > a::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff592f;
  }
  .content1 > .content1_inner > div.left {
    float: left;
    margin-top: 300px;
  }
  .content1 > .content1_inner > div.left > p.title {
    width: 389px;
    height: 216px;
    color: #222;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.4;
  }
  .content1 > .content1_inner > div.left > p.info {
    margin-top: 25px;
    color: #222;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
  .content1 > .content1_inner > div.right {
    float: left;
    max-width: 742px;
    margin-top: 50px;
  }
  .content1 > .content1_inner > div.right > ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .content1 > .content1_inner > div.right > ul > li {
    flex: 1;
    margin-bottom: 100px;
    min-width: 350px;
  }
  .content1 > .content1_inner > div.right > ul > li > img {
    width: 110px;
    height: 110px;
  }
  .content1 > .content1_inner > div.right > ul > li > p.title {
    margin: 50px 0 25px;
    font-size: 18px;
  }
  .content1 > .content1_inner > div.right > ul > li > p.info {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
  }
  /* content2 */
  .content2 {
    background: url(../assets/images/bg_foodsystem.jpg) no-repeat 0 center;
    background-size: cover;
  }
  .content2_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
  }
  .content2 > .content2_inner > h2 {
    display: inline-block;
    margin: 50px 0 100px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
  }
  .content2 > .content2_inner > div {
    width: 330px;
    height: 330px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
  }
  .content2 > .content2_inner > div > p.title {
    margin-top: 110px;
    color: #fff;
    font-size: 24px;
  }
  .content2 > .content2_inner > div > p.info {
    margin-top: 12px;
    color: #fff;
    line-height: 1.5;
  }
  .content2 > .content2_inner > div:nth-of-type(2) {
    position: relative;
    top: -40px;
  }
  .content2 > .content2_inner > div:nth-of-type(3) {
    position: relative;
    top: -80px;
  }
  .content2 > .content2_inner > div:nth-of-type(4) {
    position: relative;
    border-color: #222;
    background-color: #222;
  }
  .content2 > .content2_inner > div:nth-of-type(4) > img {
    position: relative;
    top: 50%;
    width: 235px;
    height: 131px;
    transform: translateY(-50%);
  }
  .content2 > .content2_inner > div:nth-of-type(4)::before,
  .content2 > .content2_inner > div:nth-of-type(4)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    transform: translateX(-50%);
  }
  .content2 > .content2_inner > div:nth-of-type(4)::before {
    top: -50px;
  }
  .content2 > .content2_inner > div:nth-of-type(4)::after {
    top: -30px;
  }
  /* content3 */
  .content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 160px 0;
  }
  .content3 > .content3_inner > h2 {
    margin-left: 45px;
    font-size: 48px;
    font-weight: 900;
    line-height: 72px;
  }
  .content3 > .content3_inner > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
  }

  .content3 > .content3_inner > ul > li {
    width: 390px;
    margin-bottom: 50px;
    border-top: 2px solid #222;
  }
  .content3 > .content3_inner > ul > li > p.title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
  }
  .content3 > .content3_inner > ul > li > p.title > span {
    margin-right: 30px;
  }
  .content3 > .content3_inner > ul > li > p.info {
    font-size: 18px;
    line-height: 1.5;
  }
  /* content4 */
  .content4 {
    background-color: #faf8f6;
  }

  .content4 > .content4_inner {
    margin: 0 auto;
    padding: 160px 0;
  }
  .content4 > .content4_inner > h2 {
    display: inline-block;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 900;
    line-height: 72px;
  }
  .content4 > .content4_inner > table {
    width: 100%;
  }
  .content4 > .content4_inner > table > caption {
    display: none;
  }
  .content4 > .content4_inner > table > thead th {
    height: 59px;
    padding-left: 60px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font-weight: bold;
  }
  .content4 > .content4_inner > table > tbody td {
    padding: 16px 0px 16px 60px;
    border-bottom: 2px solid #cfcdcc;
    color: #626261;
    font-weight: bold;
    line-height: 1.5;
  }
  .content4 > .content4_inner > table > tfoot td {
    height: 120px;
    padding-left: 60px;
    border-bottom: 2px solid #cfcdcc;
    background-color: #f1efed;
    font-weight: bold;
    line-height: 1.5;
  }
  .content4 > .content4_inner > p {
    position: relative;
    margin-top: 20px;
    color: #a4a3a2;
    text-indent: 10px;
  }
  .content4 > .content4_inner > p:after {
    content: '*';
    position: absolute;
    top: 50%;
    display: block;
    transform: translate3d(-10px, -30%, 0);
  }
  .content4 > .content4_inner > p > span {
    color: #ff592f;
    font-weight: bold;
  }
  .content4 > .content4_inner > div {
    position: absolute;
    left: 50%;
    width: 380px;
    height: 80px;
    margin-top: 80px;
    border: 1px solid #222;
    font-size: 18px;
    font-weight: 700;
    line-height: 78px;
    text-align: center;
    cursor: pointer;
    transform: translateX(-50%);
    transition: all 0.2s linear 0s;
  }
  .content4 > .content4_inner > div:hover {
    border-color: #ff592f;
    background-color: #ff592f;
    color: #fff;
  }
  /* footer */
  #footer {
    padding: 120px 0 120px;
  }
  .footer_inner > .top {
    width: 100%;
    height: 203px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5e5e5;
  }
  .footer_inner > .top > div > img {
    display: none;
  }
  .footer_inner > .top > ul {
    display: flex;
    justify-content: space-between;
  }
  .footer_inner > .top > ul > li > strong {
    font-size: 18px;
    font-weight: bold;
  }
  .footer_inner > .top > ul > li > ul {
    margin-top: 35px;
  }
  .footer_inner > .top > ul > li > ul > li {
    margin-bottom: 15px;
    line-height: 1.6;
  }
  .footer_inner > .top > ul > li > ul > li > a {
    position: relative;
    color: rgba(34, 34, 34, 0.7);
    letter-spacing: 0.5px;
  }
  .footer_inner > .top > ul > li > ul > li > a.contact:hover,
  .footer_inner > .top > ul > li > ul > li > a.contact {
    color: #ff592f;
  }
  .footer_inner > .top > ul > li > ul > li > a:hover {
    color: #000;
  }
  .footer_inner > .top > ul > li > ul > li > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 0%;
    height: 1px;
    background-color: #000;
    transition: all 0.4s linear 0s;
  }
  .footer_inner > .top > ul > li > ul > li > a.contact::after {
    background-color: #ff592f;
  }
  .footer_inner > .top > ul > li > ul > li > a:hover::after {
    width: 100%;
  }
  .footer_inner > .bottom > div.copyright_wrap {
    margin-top: 50px;
  }
  .footer_inner > .bottom > div.select_wrap > select {
    position: relative;
    display: block;
    width: 307px;
    height: 87px;
    border: none;
    border-bottom: 2px solid #000;
    background: url('../assets/images/select-plus.svg') no-repeat right 9px center;
    font-size: 18px;
    font-weight: bold;
    appearance: none;
  }
  .footer_inner > .bottom > div.copyright_wrap > p.copyright,
  .footer_inner > .bottom > div.copyright_wrap > address {
    color: rgba(34, 34, 34, 0.4);
    font-size: 14px;
    line-height: 1.5;
  }
  .footer_inner > .bottom > div.copyright_wrap > .playstore {
    display: flex;
    align-items: center;
  }
  .footer_inner > .bottom > div.copyright_wrap > .playstore > a > i {
    margin-right: 15px;
    font-size: 26px;
    vertical-align: middle;
  }
  .footer_inner > .bottom > div.copyright_wrap > .playstore > a:nth-of-type(1),
  .footer_inner > .bottom > div.copyright_wrap > .playstore > a:nth-of-type(2) {
    display: block;
    width: 182px;
    height: 50px;
    margin-right: 15px;
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-radius: 25px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
  }
  .footer_inner > .bottom > div.copyright_wrap > .playstore > a > img {
    position: relative;
    width: 100px;
  }
}

/* PC 크기 1025~최대 */
@media screen and (min-width: 1025px) {
  /* layout */
  #wrap {
    overflow: hidden;
    width: 100%;
  }
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    padding: 0 20px;
  }

  .header_inner {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  #container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
  }
  .content1 {
    position: relative;
    width: 100%;
  }
  .content1_inner {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .content2 {
    position: relative;
    width: 100%;
    height: 818px;
  }
  .content2_inner {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
  }
  .content3 {
    position: relative;
    width: 100%;
  }
  .content3_inner {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .content4 {
    position: relative;
    width: 100%;
    height: 1294px;
  }
  .content4_inner {
    width: 95%;
    height: 974px;
    max-width: 1440px;
    margin: 0 auto;
  }
  #footer {
    width: 100%;
  }
  .footer_inner {
    width: 95%;
    max-width: 1288px;
    margin: 0 auto;
  }

  /* header */
  #header {
    z-index: 100;
    background-color: #fff;
    transition: all 0.3s linear 0s;
  }
  #header.on {
    height: 320px;
    background-color: #fff;
    transition: all 0.3s linear 0s;
  }
  #header > div.mo {
    display: none;
  }
  .header_inner > h1 {
    display: inline-block;
    line-height: 120px;
  }
  .header_inner > ul.gnb_menu {
    float: right;
    display: flex;
  }
  .header_inner > ul.gnb_menu > li {
    height: 120px;
    line-height: 120px;
  }
  .header_inner > ul.gnb_menu > li > a {
    position: relative;
    display: inline-block;
    padding: 0 60px 0 30px;
    font-size: 18px;
    font-weight: bold;
  }
  .header_inner > ul.gnb_menu > li:nth-of-type(3) > a {
    color: #ff592f;
  }
  .header_inner > ul.gnb_menu > li:last-of-type > a:before {
    content: '';
    position: absolute;
    top: 52px;
    left: 95px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ff592f;
  }
  .header_inner > ul.gnb_menu > li:nth-last-of-type(2) > a:before {
    content: '';
    position: absolute;
    top: 52px;
    left: 130px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ff592f;
  }
  .header_inner > ul.gnb_menu > li > a::after {
    content: '';
    position: relative;
    bottom: 2px;
    left: 100%;
    display: block;
    width: 0%;
    height: 2px;
    background-color: #ff592f;
    transition: all 0.3s linear 0s;
  }
  .header_inner > ul.gnb_menu > li.on > a::after {
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }
  .header_inner > ul.gnb_menu > li:last-of-type:hover > a::after {
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }
  .header_inner > ul.gnb_menu > li > ul {
    display: none;
    padding-top: 30px;
  }
  .header_inner > ul.gnb_menu > li.on > ul {
    display: block;
  }
  .header_inner > ul.gnb_menu > li > ul > li > a {
    display: block;
    padding-left: 30px;
    font-size: 18px;
    line-height: 2.5;
  }
  .header_inner > ul.gnb_menu > li:hover > a,
  .header_inner > ul.gnb_menu > li > ul > li:hover > a {
    color: #ff592f;
  }
  /* container */
  /* contetn1 */
  .content1 {
    overflow: hidden;
  }
  .content1_inner {
    padding: 220px 0 100px;
  }
  .content1 > .content1_inner > p.path {
    float: right;
    font-size: 18px;
    font-weight: 500;
  }
  .content1 > .content1_inner > p.path > span {
    margin: 0 15px;
  }
  .content1 > .content1_inner > p.path > span.curr {
    margin-right: 90px;
    color: #ff6e49;
  }
  .content1 > .content1_inner > ul {
    position: absolute;
    display: flex;
    margin-top: 120px;
    margin-left: 70px;
  }
  .content1 > .content1_inner > ul > li > h2 > a {
    display: inline-block;
    margin-right: 50px;
    padding-bottom: 12px;
    color: #222;
    font-size: 30px;
    font-weight: bold;
    line-height: 73px;
  }
  .content1 > .content1_inner > ul > li.on > h2 > a {
    color: #ff592f;
  }
  .content1 > .content1_inner > ul > li.on > h2 > a::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff592f;
  }
  .content1 > .content1_inner > div.left {
    position: absolute;
    margin-top: 350px;
    margin-left: 70px;
  }
  .content1 > .content1_inner > div.left > p.title {
    width: 389px;
    height: 216px;
    color: #222;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.4;
  }
  .content1 > .content1_inner > div.left > p.info {
    margin-top: 25px;
    color: #222;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
  .content1 > .content1_inner > div.right {
    max-width: 742px;
    margin-top: 350px;
    margin-left: 650px;
  }
  .content1 > .content1_inner > div.right > ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .content1 > .content1_inner > div.right > ul > li {
    flex: 1;
    margin-bottom: 100px;
    min-width: 371px;
  }
  .content1 > .content1_inner > div.right > ul > li > img {
    width: 110px;
    height: 110px;
  }
  .content1 > .content1_inner > div.right > ul > li > p.title {
    margin: 50px 0 25px;
    font-size: 18px;
  }
  .content1 > .content1_inner > div.right > ul > li > p.info {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
  }
  /* content2 */
  .content2 {
    background: url(../assets/images/bg_foodsystem.jpg) no-repeat 0 center;
    background-size: cover;
  }
  .content2_inner {
    position: relative;
  }
  .content2 > .content2_inner > h2 {
    display: inline-block;
    margin: 180px 0 100px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
  }
  .content2 > .content2_inner > div {
    position: absolute;
    width: 330px;
    height: 330px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
  }
  .content2 > .content2_inner > div > p.title {
    margin-top: 110px;
    color: #fff;
    font-size: 24px;
  }
  .content2 > .content2_inner > div > p.info {
    margin-top: 12px;
    color: #fff;
    line-height: 1.5;
  }
  .content2 > .content2_inner > div:nth-of-type(2) {
    left: 280px;
  }
  .content2 > .content2_inner > div:nth-of-type(3) {
    left: 560px;
  }
  .content2 > .content2_inner > div:nth-of-type(4) {
    left: 960px;
    border-color: #222;
    background-color: #222;
  }
  .content2 > .content2_inner > div:nth-of-type(4) > img {
    position: relative;
    top: 50%;
    width: 235px;
    height: 131px;
    transform: translateY(-50%);
  }
  .content2 > .content2_inner > div:nth-of-type(4)::before,
  .content2 > .content2_inner > div:nth-of-type(4)::after {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    transform: translateY(-50%);
  }
  .content2 > .content2_inner > div:nth-of-type(4)::before {
    left: -50px;
  }
  .content2 > .content2_inner > div:nth-of-type(4)::after {
    left: -30px;
  }
  /* content3 */
  .content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 160px 0;
  }
  .content3 > .content3_inner > h2 {
    margin-left: 45px;
    font-size: 48px;
    font-weight: 900;
    line-height: 72px;
  }
  .content3 > .content3_inner > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
  }

  .content3 > .content3_inner > ul > li {
    width: 390px;
    margin-bottom: 50px;
    border-top: 2px solid #222;
  }
  .content3 > .content3_inner > ul > li > p.title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
  }
  .content3 > .content3_inner > ul > li > p.title > span {
    margin-right: 30px;
  }
  .content3 > .content3_inner > ul > li > p.info {
    font-size: 18px;
    line-height: 1.5;
  }
  /* content4 */
  .content4 {
    background-color: #faf8f6;
  }

  .content4 > .content4_inner {
    margin: 0 auto;
    padding: 160px 0;
  }
  .content4 > .content4_inner > h2 {
    display: inline-block;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 900;
    line-height: 72px;
  }
  .content4 > .content4_inner > table {
    width: 100%;
  }
  .content4 > .content4_inner > table > caption {
    display: none;
  }
  .content4 > .content4_inner > table > thead th {
    height: 59px;
    padding-left: 60px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font-weight: bold;
  }
  .content4 > .content4_inner > table > thead th:first-of-type {
    width: 255px;
  }
  .content4 > .content4_inner > table > tbody td {
    padding: 16px 0px 16px 60px;
    border-bottom: 2px solid #cfcdcc;
    color: #626261;
    font-weight: bold;
    line-height: 1.5;
  }
  .content4 > .content4_inner > table > tfoot td {
    height: 120px;
    padding-left: 60px;
    border-bottom: 2px solid #cfcdcc;
    background-color: #f1efed;
    font-weight: bold;
    line-height: 1.5;
  }
  .content4 > .content4_inner > p {
    position: relative;
    margin-top: 20px;
    color: #a4a3a2;
    text-indent: 10px;
  }
  .content4 > .content4_inner > p:after {
    content: '*';
    position: absolute;
    top: 50%;
    display: block;
    transform: translate3d(-10px, -30%, 0);
  }
  .content4 > .content4_inner > p > span {
    color: #ff592f;
    font-weight: bold;
  }
  .content4 > .content4_inner > div {
    position: absolute;
    left: 50%;
    width: 380px;
    height: 80px;
    margin-top: 80px;
    border: 1px solid #222;
    font-size: 18px;
    font-weight: 700;
    line-height: 78px;
    text-align: center;
    cursor: pointer;
    transform: translateX(-50%);
    transition: all 0.2s linear 0s;
  }
  .content4 > .content4_inner > div:hover {
    border-color: #ff592f;
    background-color: #ff592f;
    color: #fff;
  }

  /* footer */
  #footer {
    padding: 120px 0 120px;
  }
  .footer_inner > .top {
    width: 100%;
    height: 203px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5e5e5;
  }
  .footer_inner > .top > div > img {
    position: absolute;
    width: 192px;
  }
  .footer_inner > .top > ul {
    display: flex;
    justify-content: flex-end;
  }
  .footer_inner > .top > ul > li {
    margin-left: 9vw;
  }
  .footer_inner > .top > ul > li > strong {
    font-size: 18px;
    font-weight: bold;
  }
  .footer_inner > .top > ul > li > ul {
    margin-top: 35px;
  }
  .footer_inner > .top > ul > li > ul > li {
    margin-bottom: 15px;
    line-height: 1.6;
  }
  .footer_inner > .top > ul > li > ul > li > a {
    position: relative;
    color: rgba(34, 34, 34, 0.7);
    letter-spacing: 0.5px;
  }
  .footer_inner > .top > ul > li > ul > li > a.contact:hover,
  .footer_inner > .top > ul > li > ul > li > a.contact {
    color: #ff592f;
  }
  .footer_inner > .top > ul > li > ul > li > a:hover {
    color: #000;
  }
  .footer_inner > .top > ul > li > ul > li > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 0%;
    height: 1px;
    background-color: #000;
    transition: all 0.4s linear 0s;
  }
  .footer_inner > .top > ul > li > ul > li > a.contact::after {
    background-color: #ff592f;
  }
  .footer_inner > .top > ul > li > ul > li > a:hover::after {
    width: 100%;
  }
  .footer_inner > .bottom::after {
    content: '';
    clear: both;
    display: block;
  }
  .footer_inner > .bottom > div.select_wrap {
    float: left;
  }
  .footer_inner > .bottom > div.copyright_wrap {
    float: right;
    margin-top: 30px;
  }
  .footer_inner > .bottom > div.select_wrap > select {
    position: relative;
    display: block;
    width: 307px;
    height: 87px;
    border: none;
    border-bottom: 2px solid #000;
    background: url('../assets/images/select-plus.svg') no-repeat right 9px center;
    font-size: 18px;
    font-weight: bold;
    appearance: none;
  }
  .footer_inner > .bottom > div.copyright_wrap > p.copyright,
  .footer_inner > .bottom > div.copyright_wrap > address {
    color: rgba(34, 34, 34, 0.4);
    font-size: 14px;
    line-height: 1.5;
  }
  .footer_inner > .bottom > div.copyright_wrap > .playstore {
    display: flex;
    align-items: center;
  }
  .footer_inner > .bottom > div.copyright_wrap > .playstore > a > i {
    margin-right: 15px;
    font-size: 26px;
    vertical-align: middle;
  }
  .footer_inner > .bottom > div.copyright_wrap > .playstore > a:nth-of-type(1),
  .footer_inner > .bottom > div.copyright_wrap > .playstore > a:nth-of-type(2) {
    display: block;
    width: 182px;
    height: 50px;
    margin-right: 15px;
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-radius: 25px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
  }
  .footer_inner > .bottom > div.copyright_wrap > .playstore > a > img {
    position: relative;
    width: 100px;
  }
}
